

///////////////// BUTTON ///////////////

.btn {
  cursor: pointer;
  background-color: $very-dark-blue;
  color: $very-light-gray;
  font-family: "Spartan";
  font-weight: 700;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 2.8rem 3.4rem;
  font-size: 1.6rem;

  &:hover {
    background-color: $medium-gray;
    color: $very-light-gray;
  }

  &,
  &:link,
  &:visited,
  &:focus {
    border: none;
    outline: none;
  }

  &-arrow {
    width: 20px;
    height: 20px;
    margin-left: 18px;

    filter: invert(100%) sepia(0%) saturate(25%) hue-rotate(70deg)
      brightness(108%) contrast(108%);
  }
}

/////////////////  CARD //////////////////


@mixin card($url) {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.7) 0%,
      rgba(0, 0, 0, 0) 35%
    ),
    url($url);
  background-repeat: no-repeat;
  background-size: cover;
}



.card {
  height: 56rem;
  position: relative;
  overflow: hidden;

  &__label {
    position: absolute;
    font-family: "Spartan";
    left: 3.5rem;
    bottom: 3.5rem;
  }

  &__label-title {
    margin-bottom: 2rem;
  }

  &__label-txt {
    color: $very-light-gray;
    font-size: 1.5rem;
    opacity: .8;
  }
}
