

.btn {
    cursor: pointer;
    background-color: $very-dark-blue;
    color: $very-light-gray;
    font-family: "Spartan";
    font-weight: 700;

    display: flex;
    align-items: center;
    justify-content: center;
  
    padding: 3rem 3.6rem;
    font-size: 1.6rem;

    
    &:hover {
        background-color: $very-light-gray;
        color: $dark-gray;
    }

    &,
    &:link,
    &:visited {
        border: none;
    }

    &-arrow {
        width: 20px;
        height: 20px;
        margin-left: 18px;
    
        filter: invert(100%) sepia(0%) saturate(25%) hue-rotate(70deg)
          brightness(108%) contrast(108%);
      }
  }