// Colors

$very-dark-blue: hsl(225, 13%, 12%);
$dark-gray: hsl(226, 6%, 40%);
$medium-gray: hsl(223, 7%, 53%);
$light-gray: hsl(225, 17%, 82%);
$very-light-gray: hsl(230, 21%, 95%);

$error-red : hsl(0, 68%, 61%);

@mixin container {
    margin: 0 auto;
    max-width: 1110px;
    width: 82%;
}

.hidden {
    visibility: hidden;
}

///////// Typo ///////////

.h1-l {
    font-size: 20rem;
    font-family: "Spartan";
    color: $very-light-gray;
    font-weight: 700;
}

.h1-s {
    line-height: 8rem;
    font-size: 8rem;
    font-family: "Spartan";
    color: $very-light-gray;
}

.h2 {
    font-weight: 700;
    margin-bottom: 5rem;
    font-size: 5.1rem;
    font-family: "Spartan";
    color: $very-dark-blue;
}

.h3 {
    color: $very-light-gray;
    font-size: 2rem;
    font-family: "Spartan";
}

.body-font {
    line-height: 2.5rem;
    color: $medium-gray;
    font-family: "Spartan";
    font-weight: 500;
    font-size: 1.5rem;

}
