<div class="footer">

    <div class="footer__nav">
        <div class="footer__logo">
            <a href="/"><img src="assets/logo.svg" class="footer__logo-svg"></img></a>
        </div>

        <ul class="footer__list">
            <a href="portfolio">
                <li class="footer__item">Portfolio</li>
            </a>
            <a href="about">
                <li class="footer__item">About Us</li>
            </a>
            <a href="contact">
                <li class="footer__item">Contact</li>
            </a>
        </ul>
    </div>


    <a href="/portfolio" class="footer__btn btn">
        <p>See Our Portfolio</p>
        <img class="featured__btn-arrow btn-arrow" src="assets/icons/icon-arrow.svg" alt="" srcset="">
    </a>




</div>

</body>

<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    AOS.init();
</script>
<script src="/js/app.js"></script>


</html>