<div class="home">
    <a href="/" class="home__link"><%= pageName %> </a>
</div>



<nav role="navigation">
    <div id="menuToggle">
        <input type="checkbox" />

        <span></span>
        <span></span>
        <span></span>

        <ul id="menu">
            <a href="#">
                <li>Portfolio</li>
            </a>
            <a href="#">
                <li>About Us</li>
            </a>
            <a href="#">
                <li>Contact</li>
            </a>
        </ul>
    </div>
</nav>

<nav class="nav" role="navigation">

    <a href="/"><img src="assets/logo.svg" class="nav__logo"></img></a>

    <div class="nav__links">
        <a href="portfolio" class="nav__link">Portfolio</a>
        <a href="about" class="nav__link">About Us</a>
        <a href="contact" class="nav__link">Contact</a>
    </div>



</nav>