<div class="home">
    <a href="/" class="home__link"><%= pageName %> </a>
</div>

<div class="nav">

    <a href="/"><img src="assets/logo.svg" class="nav__logo"></img></a>

    <div class="nav__links">
        <a href="portfolio" class="nav__link">Portfolio</a>
        <a href="about" class="nav__link">About Us</a>
        <a href="contact" class="nav__link">Contact</a>
    </div>



</div>