.hidden {
  visibility: hidden; }

.h1-l {
  font-size: 20rem;
  font-family: "Spartan";
  color: #f0f0f5;
  font-weight: 700; }
  @media only screen and (max-width: 1113px) {
    .h1-l {
      font-size: 15rem; } }
  @media only screen and (max-width: 768px) {
    .h1-l {
      font-size: 13rem; } }

.h1-s {
  line-height: 8rem;
  font-size: 8rem;
  font-family: "Spartan";
  color: #f0f0f5; }
  @media only screen and (max-width: 1113px) {
    .h1-s {
      font-size: 7.8rem; } }
  @media only screen and (max-width: 768px) {
    .h1-s {
      font-size: 7.6rem; } }
  @media only screen and (max-width: 479px) {
    .h1-s {
      font-size: 7.4rem; } }
  @media only screen and (max-width: 479px) {
    .h1-s {
      font-size: 7rem; } }

.h2 {
  font-weight: 700;
  margin-bottom: 4rem;
  font-size: 6rem;
  font-family: "Spartan";
  color: #1b1d23; }
  @media only screen and (max-width: 692px) {
    .h2 {
      font-size: 4.5rem; } }

.h3 {
  color: #f0f0f5;
  font-size: 2rem;
  font-family: "Spartan"; }

.body-font {
  line-height: 2.5rem;
  color: #7f8490;
  font-family: "Spartan";
  font-weight: 500;
  font-size: 1.5rem; }

.btn {
  cursor: pointer;
  background-color: #1b1d23;
  color: #f0f0f5;
  font-family: "Spartan";
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2.8rem 3.4rem;
  font-size: 1.6rem; }
  @media only screen and (max-width: 1113px) {
    .btn {
      padding: 2.6rem 3.2rem; } }
  .btn:hover {
    background-color: #7f8490;
    color: #f0f0f5; }
  .btn, .btn:link, .btn:visited, .btn:focus {
    border: none;
    outline: none; }
  .btn-arrow {
    width: 20px;
    height: 20px;
    margin-left: 18px;
    filter: invert(100%) sepia(0%) saturate(25%) hue-rotate(70deg) brightness(108%) contrast(108%); }
    @media only screen and (max-width: 1113px) {
      .btn-arrow {
        margin-left: 15px; } }

.card {
  height: 56rem;
  position: relative;
  overflow: hidden; }
  @media only screen and (max-width: 768px) {
    .card {
      height: 254px; } }
  .card__label {
    position: absolute;
    font-family: "Spartan";
    left: 3.5rem;
    bottom: 3.5rem; }
  .card__label-title {
    margin-bottom: 2rem; }
  .card__label-txt {
    color: #f0f0f5;
    font-size: 1.5rem;
    opacity: 0.8; }

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

body {
  box-sizing: border-box;
  background-color: white; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 1113px) {
    html {
      font-size: 58%; } }
  @media only screen and (max-width: 768px) {
    html {
      font-size: 56%; } }
  @media only screen and (max-width: 621px) {
    html {
      font-size: 52%; } }
  @media only screen and (max-width: 479px) {
    html {
      font-size: 50%; } }

a {
  text-decoration: none; }

li {
  list-style: none; }

.nav {
  margin: 0 auto;
  max-width: 1110px;
  width: 82%;
  height: 15.5rem;
  padding: 2rem 0;
  display: flex;
  align-items: center; }
  @media only screen and (max-width: 1113px) {
    .nav {
      width: 76%; } }
  @media only screen and (max-width: 479px) {
    .nav {
      width: 90%; } }
  @media only screen and (max-width: 621px) {
    .nav {
      width: 90%; } }
  .nav__logo {
    margin-right: 5rem; }
    @media only screen and (max-width: 692px) {
      .nav__logo {
        margin-right: 4.5rem; } }
  .nav__links {
    display: flex; }
    @media only screen and (max-width: 479px) {
      .nav__links {
        visibility: hidden;
        opacity: 0; } }
  .nav__link {
    margin: 3rem;
    font-size: 1.5rem;
    font-family: "Spartan";
    color: #7f8490;
    font-weight: bold; }
    @media only screen and (max-width: 692px) {
      .nav__link {
        margin: 2.4rem;
        font-size: 1.3rem; } }
    .nav__link, .nav__link:visited, .nav__link:link {
      text-decoration: none; }

#menuToggle {
  visibility: hidden;
  display: block;
  position: absolute;
  width: 100%;
  height: 10rem;
  top: 0;
  right: 0;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none; }
  @media only screen and (max-width: 479px) {
    #menuToggle {
      visibility: visible; } }

#menuToggle a {
  text-decoration: none;
  color: #232323;
  font-family: 'Spartan';
  font-weight: 700;
  transition: color 0.3s ease; }

#menuToggle a:hover {
  color: var(--cyan); }

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: 60px;
  right: 40px;
  cursor: pointer;
  opacity: 0;
  /* hide this */
  z-index: 2;
  /* and place it over the hamburger */
  -webkit-touch-callout: none; }

/*
  * Just a quick hamburger
  */
#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: absolute;
  right: 40px;
  background: #232323;
  border-radius: 3px;
  z-index: 1;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease; }

#menuToggle span:nth-child(2) {
  transform-origin: 0% 100%;
  top: 60px; }

#menuToggle span:nth-child(3) {
  top: 70px; }

#menuToggle span:nth-child(4) {
  transform-origin: 0% 100%;
  top: 80px; }

#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-3px, -1px);
  background: #232323; }

#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2); }

#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg); }

/*
  * Make this absolute positioned
  * at the top left of the screen
  */
#menu {
  position: absolute;
  top: 224px;
  right: -150px;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 40px;
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  transform-origin: 0% 0%;
  transform: translate(50%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1); }

#menu li {
  padding: 10px 0;
  font-size: 2rem; }

/*
  * And let's slide it in from the left
  */
#menuToggle input:checked ~ ul {
  transform: translate(-40%, 0); }

.home {
  position: relative;
  width: 90%;
  max-width: 1400px;
  margin: 0 auto; }
  @media only screen and (max-width: 621px) {
    .home {
      opacity: 0; } }
  .home__link {
    position: absolute;
    top: 14rem;
    font-family: "Spartan";
    writing-mode: vertical-lr;
    color: #c9cdd9;
    font-size: 1.5rem;
    letter-spacing: 1.7rem; }
    .home__link, .home__link:visited, .home__link:link {
      text-decoration: none; }
    .home__link::before {
      content: "";
      position: absolute;
      top: -139px;
      left: 12px;
      height: 104px;
      width: 1px;
      background-color: #c9cdd9; }

.footer {
  margin: 0 auto;
  max-width: 1110px;
  width: 82%;
  margin-top: 20rem;
  position: relative; }
  @media only screen and (max-width: 1113px) {
    .footer {
      width: 76%; } }
  @media only screen and (max-width: 479px) {
    .footer {
      width: 90%; } }
  @media only screen and (max-width: 1113px) {
    .footer {
      width: 100%; } }
  .footer__nav {
    display: flex;
    background-color: #f0f0f5;
    height: 20rem;
    width: 89%; }
    @media only screen and (max-width: 1113px) {
      .footer__nav {
        width: 85%; } }
    @media only screen and (max-width: 768px) {
      .footer__nav {
        height: 16rem; } }
    @media only screen and (max-width: 692px) {
      .footer__nav {
        flex-direction: column;
        height: 43rem;
        width: 100%; } }
  .footer__logo {
    width: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1b1d23; }
    @media only screen and (max-width: 768px) {
      .footer__logo {
        width: 16rem; } }
    @media only screen and (max-width: 692px) {
      .footer__logo {
        margin: -5rem auto 0;
        width: 15rem;
        height: 15rem; } }
  .footer__logo-svg {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%); }
    @media only screen and (max-width: 1113px) {
      .footer__logo-svg {
        width: 10rem; } }
    @media only screen and (max-width: 768px) {
      .footer__logo-svg {
        width: 8rem; } }
  .footer__list {
    list-style: none;
    display: flex;
    align-items: center;
    margin-left: 6rem; }
    @media only screen and (max-width: 1113px) {
      .footer__list {
        margin-left: 3rem; } }
    @media only screen and (max-width: 692px) {
      .footer__list {
        flex-direction: column;
        margin-left: 0;
        margin-top: 2rem; } }
  .footer__item {
    font-family: 'Spartan';
    font-size: 1.5rem;
    font-weight: 700;
    color: #7f8490;
    padding: 2rem; }
    .footer__item:hover {
      color: #1b1d23; }
  .footer__btn {
    position: absolute;
    right: 0;
    bottom: 50px; }
    @media only screen and (max-width: 768px) {
      .footer__btn {
        bottom: 39px; } }
    @media only screen and (max-width: 692px) {
      .footer__btn {
        left: 50%;
        transform: translateX(-50%);
        width: 50%; } }

.about {
  margin: 0 auto;
  max-width: 1110px;
  width: 82%; }
  @media only screen and (max-width: 1113px) {
    .about {
      width: 76%; } }
  @media only screen and (max-width: 479px) {
    .about {
      width: 90%; } }

.team {
  position: relative;
  width: 100%;
  height: 70rem;
  margin-bottom: 20rem; }
  @media only screen and (max-width: 1113px) {
    .team {
      height: 87vw; } }
  @media only screen and (max-width: 768px) {
    .team {
      height: 96vw; } }
  .team__title {
    z-index: 2;
    position: absolute;
    right: 0;
    top: 97px; }
    @media only screen and (max-width: 1113px) {
      .team__title {
        top: 32vw; } }
  .team__img {
    filter: brightness(0.7);
    z-index: -2;
    position: absolute;
    left: 0;
    top: 0;
    width: 61rem; }
    @media only screen and (max-width: 1113px) {
      .team__img {
        width: 100%; } }
  .team__content {
    position: absolute;
    right: -2px;
    bottom: -2px;
    width: 64rem;
    height: 48rem;
    display: grid;
    align-items: flex-end;
    justify-items: flex-end;
    background-color: white; }
    .team__content-wrapper {
      width: 70%; }
    @media only screen and (max-width: 1113px) {
      .team__content {
        width: 69vw;
        height: 45vw; } }
    @media only screen and (max-width: 768px) {
      .team__content {
        height: 54vw; } }

.heritage {
  display: flex;
  margin-bottom: 20rem; }
  .heritage__img {
    width: 50vw; }
    @media only screen and (max-width: 1113px) {
      .heritage__img {
        width: 37rem;
        height: 43rem; } }
    @media only screen and (max-width: 768px) {
      .heritage__img {
        opacity: 0;
        display: none; } }
  .heritage__title {
    width: 50%; }
  .heritage__info {
    width: 80%; }

.leaders {
  display: flex;
  justify-content: space-between; }
  @media only screen and (max-width: 1113px) {
    .leaders {
      flex-direction: column; } }
  .leaders__title {
    width: 5%; }
  .leaders__img {
    width: 100%; }
  .leaders__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 2.8rem;
    row-gap: 5rem; }
  .leaders__card-title {
    color: #1b1d23;
    margin-top: 2rem; }

.contact {
  margin: 0 auto;
  max-width: 1110px;
  width: 82%; }
  @media only screen and (max-width: 1113px) {
    .contact {
      width: 76%; } }
  @media only screen and (max-width: 479px) {
    .contact {
      width: 90%; } }
  .contact__map {
    width: 100%; }

.tell-us {
  position: relative;
  width: 100%;
  height: 70rem;
  margin-bottom: 20rem; }
  @media only screen and (max-width: 1113px) {
    .tell-us {
      height: 87vw; } }
  @media only screen and (max-width: 768px) {
    .tell-us {
      height: 96vw; } }
  .tell-us__title {
    z-index: 2;
    position: absolute;
    right: 0;
    top: 97px; }
    @media only screen and (max-width: 1113px) {
      .tell-us__title {
        top: 32vw; } }
  .tell-us__img {
    filter: brightness(0.7);
    z-index: -2;
    position: absolute;
    left: 0;
    top: 0;
    width: 61rem; }
    @media only screen and (max-width: 1113px) {
      .tell-us__img {
        width: 100%; } }
  .tell-us__content {
    position: absolute;
    right: -2px;
    bottom: -2px;
    width: 64rem;
    height: 48rem;
    display: grid;
    align-items: flex-end;
    justify-items: flex-end;
    background-color: white; }
    .tell-us__content-wrapper {
      width: 70%; }
    @media only screen and (max-width: 1113px) {
      .tell-us__content {
        width: 69vw;
        height: 45vw; } }
    @media only screen and (max-width: 768px) {
      .tell-us__content {
        height: 54vw; } }

.details {
  display: flex;
  margin-bottom: 20rem; }
  @media only screen and (max-width: 1113px) {
    .details {
      flex-direction: column; } }
  .details__title {
    width: 20%;
    margin-right: 10rem; }
    @media only screen and (max-width: 1113px) {
      .details__title {
        margin-bottom: 7rem;
        width: 100%; } }
  .details__lists {
    display: flex; }
    @media only screen and (max-width: 768px) {
      .details__lists {
        flex-direction: column; } }
  .details__list {
    position: relative;
    padding: 0 5rem; }
    @media only screen and (max-width: 768px) {
      .details__list {
        padding: 5rem 0; } }
  .details__item {
    padding: 0.6rem; }
    .details__item-title {
      margin-bottom: 2rem;
      font-weight: 700;
      font-size: 1.5rem;
      font-family: "Spartan";
      color: #7f8490; }
    .details__item-cta {
      display: flex;
      align-items: center;
      margin-top: 2rem;
      font-weight: 700;
      font-size: 1.5rem;
      font-family: "Spartan";
      color: #1b1d23; }
      @media only screen and (max-width: 768px) {
        .details__item-cta {
          position: absolute;
          right: 0;
          top: 53px; } }
      @media only screen and (max-width: 479px) {
        .details__item-cta {
          position: relative;
          top: 0; } }
  .details__arrow {
    filter: none; }

.form {
  position: relative;
  display: flex;
  margin-top: 10rem; }
  @media only screen and (max-width: 768px) {
    .form {
      flex-direction: column; } }
  .form__items {
    width: 100%;
    margin-left: 10%;
    display: flex;
    flex-direction: column; }
    @media only screen and (max-width: 768px) {
      .form__items {
        margin-left: 0; } }
  .form__item {
    position: relative; }
  .form__input {
    width: 100%;
    font-family: "Spartan";
    padding-left: 2rem;
    font-size: 1.7rem;
    font-weight: 700;
    height: 8rem;
    border: none;
    border-bottom: 2px solid #f0f0f5; }
    .form__input::placeholder {
      margin-bottom: 2rem;
      font-family: "Spartan";
      color: #c9cdd9;
      font-size: 1.7rem; }
    .form__input:focus, .form__input:active {
      border: none;
      outline: none;
      border-bottom: 2px solid black; }
  .form__btn {
    width: 33px;
    position: absolute;
    right: 0;
    bottom: -75px; }
  .form__arrow {
    margin-left: 0; }

.form__invalid {
  border: none;
  outline: none;
  border-bottom: 2px solid #df5858; }

.form__item--invalid::after {
  content: "Can't be empty";
  position: absolute;
  right: 10px;
  bottom: 15px;
  color: #df5858;
  font-family: "Spartan";
  font-weight: 700;
  font-size: 1.3rem; }

.form__empty {
  position: absolute;
  right: 10px;
  bottom: 15px;
  color: #df5858;
  font-family: "Spartan";
  font-weight: 700;
  font-size: 1.3rem;
  opacity: 0; }

.slider {
  margin: 0 auto;
  max-width: 1110px;
  width: 82%;
  position: relative; }
  @media only screen and (max-width: 1113px) {
    .slider {
      width: 76%; } }
  @media only screen and (max-width: 479px) {
    .slider {
      width: 90%; } }
  @media only screen and (max-width: 621px) {
    .slider {
      width: 100%; } }
  .slider__cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr, 200px;
    grid-column-gap: 0px;
    grid-row-gap: 0px; }
  .slider__content {
    transition: all 0.2s;
    grid-area: 1 / 1 / 2 / 2;
    opacity: 0;
    visibility: hidden; }
  .slider__img {
    width: 100%;
    object-fit: cover;
    filter: brightness(0.6) contrast(1.2); }
    @media only screen and (max-width: 1113px) {
      .slider__img {
        height: 62rem;
        object-position: top; } }
    @media only screen and (max-width: 768px) {
      .slider__img {
        height: 100%; } }
  .slider__inside {
    position: absolute;
    left: 16%;
    top: 10vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 1; }
    @media only screen and (max-width: 1113px) {
      .slider__inside {
        top: 8vw; } }
    @media only screen and (max-width: 768px) {
      .slider__inside {
        top: 28%; } }
    @media only screen and (max-width: 621px) {
      .slider__inside {
        left: 8%; } }
  .slider__title {
    margin-bottom: 3rem; }
    @media only screen and (max-width: 621px) {
      .slider__title {
        margin-bottom: 2.7rem; } }
    @media only screen and (max-width: 479px) {
      .slider__title {
        margin-bottom: 2rem; } }
  .slider__info {
    margin-bottom: 2rem;
    line-height: 2.5rem;
    width: 38%;
    font-size: 1.5rem;
    color: #f0f0f5;
    font-family: "Spartan"; }
    @media only screen and (max-width: 1113px) {
      .slider__info {
        margin-bottom: 3.3rem;
        line-height: 3.5rem;
        width: 95%;
        font-size: 1.8rem; } }
  .slider__btn-text {
    font-weight: 700;
    margin-right: 20px; }
  .slider__btn-arrow {
    margin-left: 22px; }
  .slider__num {
    background-color: white;
    color: #7f8490; }
    .slider__num:focus {
      outline: none;
      border: none; }
  .slider__nav {
    display: flex;
    position: absolute;
    bottom: 0;
    left: -87px; }
    @media only screen and (max-width: 1113px) {
      .slider__nav {
        left: auto;
        right: 0; } }
    @media only screen and (max-width: 768px) {
      .slider__nav {
        opacity: 0; } }

.open {
  opacity: 1;
  visibility: visible; }

.active {
  color: #f0f0f5;
  background-color: #1b1d23; }

.welcome {
  margin: 0 auto;
  max-width: 1110px;
  width: 82%;
  margin-top: 10rem;
  margin-bottom: 8rem;
  position: relative;
  font-family: "Spartan"; }
  @media only screen and (max-width: 1113px) {
    .welcome {
      width: 76%; } }
  @media only screen and (max-width: 479px) {
    .welcome {
      width: 90%; } }
  @media only screen and (max-width: 479px) {
    .welcome {
      margin-top: 15rem; } }
  @media only screen and (max-width: 692px) {
    .welcome__title {
      display: none; } }
  .welcome__text {
    width: 40%;
    margin-left: 18%;
    margin-top: -43px; }
    @media only screen and (max-width: 1113px) {
      .welcome__text {
        margin-left: 7%; } }
    @media only screen and (max-width: 768px) {
      .welcome__text {
        margin-left: 0;
        width: 100%; } }
  .welcome__sub-title {
    width: 86%; }
    @media only screen and (max-width: 768px) {
      .welcome__sub-title {
        width: 30rem;
        margin-top: 5rem; } }
  .welcome__bio {
    font-size: 1.5rem;
    color: #60636c;
    line-height: 2.3rem; }
  .welcome__img {
    position: absolute;
    z-index: -2;
    right: 0;
    top: 12rem;
    width: 324px; }
    @media only screen and (max-width: 1113px) {
      .welcome__img {
        width: 32rem; } }
    @media only screen and (max-width: 768px) {
      .welcome__img {
        display: none; } }

.about {
  margin: 0 auto;
  max-width: 1110px;
  width: 82%; }
  @media only screen and (max-width: 1113px) {
    .about {
      width: 76%; } }
  @media only screen and (max-width: 479px) {
    .about {
      width: 90%; } }
  @media only screen and (max-width: 621px) {
    .about {
      width: 100%; } }
  @media only screen and (max-width: 479px) {
    .about {
      margin-top: 10rem; } }
  .about__card {
    position: relative;
    margin-top: 20rem;
    height: 58rem; }
  .about__img {
    position: absolute;
    width: 100%;
    z-index: -2;
    filter: brightness(0.4); }
  .about__inside {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 16%;
    margin-left: 17%; }
    @media only screen and (max-width: 1113px) {
      .about__inside {
        margin-top: 10%; } }
    @media only screen and (max-width: 768px) {
      .about__inside {
        margin-top: 30%;
        margin-left: 11%; } }
  .about__text {
    color: #f0f0f5;
    width: 41rem; }
    @media only screen and (max-width: 768px) {
      .about__text {
        width: 49rem; } }
    @media only screen and (max-width: 621px) {
      .about__text {
        font-size: 6rem; } }

.featured {
  margin: 0 auto;
  max-width: 1110px;
  width: 82%;
  margin-top: 15rem; }
  @media only screen and (max-width: 1113px) {
    .featured {
      width: 76%; } }
  @media only screen and (max-width: 479px) {
    .featured {
      width: 90%; } }
  .featured__header {
    width: 100%;
    margin-bottom: 5rem;
    display: inline-flex;
    justify-content: space-between;
    align-items: center; }
  .featured__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem; }
    @media only screen and (max-width: 768px) {
      .featured__cards {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr); } }
  .featured__card-1::before {
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 35%), url("assets/portfolio/desktop/image-del-sol.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    filter: contrast(1.3) brightness(0.8) saturate(1.2); }
    @media only screen and (max-width: 768px) {
      .featured__card-1::before {
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 35%), url("assets/portfolio/tablet/image-del-sol.jpg"); } }
  .featured__card-2 {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 35%), url("assets/portfolio/desktop/image-228b.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%; }
    @media only screen and (max-width: 768px) {
      .featured__card-2 {
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 35%), url("assets/portfolio/tablet/image-228b.jpg"); } }
  .featured__card-3 {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 35%), url("assets/portfolio/desktop/image-prototype.jpg");
    background-repeat: no-repeat;
    background-size: cover; }
    @media only screen and (max-width: 768px) {
      .featured__card-3 {
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 35%), url("assets/portfolio/tablet/image-prototype.jpg"); } }
  .featured__card-num {
    position: absolute;
    right: -7px;
    top: 2rem;
    opacity: 0.8; }

.portfolio {
  margin: 0 auto;
  max-width: 1110px;
  width: 82%;
  margin-top: 3rem;
  display: grid;
  gap: 2.2rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr); }
  @media only screen and (max-width: 1113px) {
    .portfolio {
      width: 76%; } }
  @media only screen and (max-width: 479px) {
    .portfolio {
      width: 90%; } }
  @media only screen and (max-width: 1113px) {
    .portfolio {
      grid-template-columns: repeat(2, 1fr); } }
  @media only screen and (max-width: 768px) {
    .portfolio {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(12, 1fr); } }
  .portfolio__card-1 {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 35%), url("assets/portfolio/desktop/image-seraph.jpg");
    background-repeat: no-repeat;
    background-size: cover; }
    @media only screen and (max-width: 768px) {
      .portfolio__card-1 {
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 35%), url("assets/portfolio/tablet/image-seraph.jpg"); } }
  .portfolio__card-2 {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 35%), url("assets/portfolio/desktop/image-eebox.jpg");
    background-repeat: no-repeat;
    background-size: cover; }
    @media only screen and (max-width: 768px) {
      .portfolio__card-2 {
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 35%), url("assets/portfolio/tablet/image-eebox.jpg"); } }
  .portfolio__card-3 {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 35%), url("assets/portfolio/desktop/image-federal.jpg");
    background-repeat: no-repeat;
    background-size: cover; }
    @media only screen and (max-width: 768px) {
      .portfolio__card-3 {
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 35%), url("assets/portfolio/tablet/image-federal.jpg"); } }
  .portfolio__card-4 {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 35%), url("assets/portfolio/desktop/image-del-sol.jpg");
    background-repeat: no-repeat;
    background-size: cover; }
    @media only screen and (max-width: 768px) {
      .portfolio__card-4 {
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 35%), url("assets/portfolio/tablet/image-del-sol.jpg"); } }
  .portfolio__card-5 {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 35%), url("assets/portfolio/desktop/image-prototype.jpg");
    background-repeat: no-repeat;
    background-size: cover; }
    @media only screen and (max-width: 768px) {
      .portfolio__card-5 {
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 35%), url("assets/portfolio/tablet/image-prototype.jpg"); } }
  .portfolio__card-6 {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 35%), url("assets/portfolio/desktop/image-228b.jpg");
    background-repeat: no-repeat;
    background-size: cover; }
    @media only screen and (max-width: 768px) {
      .portfolio__card-6 {
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 35%), url("assets/portfolio/tablet/image-228b.jpg"); } }
  .portfolio__card-7 {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 35%), url("assets/portfolio/desktop/image-edelweiss.jpg");
    background-repeat: no-repeat;
    background-size: cover; }
    @media only screen and (max-width: 768px) {
      .portfolio__card-7 {
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 35%), url("assets/portfolio/tablet/image-edelweiss.jpg"); } }
  .portfolio__card-8 {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 35%), url("assets/portfolio/desktop/image-netcry.jpg");
    background-repeat: no-repeat;
    background-size: cover; }
    @media only screen and (max-width: 768px) {
      .portfolio__card-8 {
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 35%), url("assets/portfolio/tablet/image-netcry.jpg"); } }
  .portfolio__card-9 {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 35%), url("assets/portfolio/desktop/image-hypers.jpg");
    background-repeat: no-repeat;
    background-size: cover; }
    @media only screen and (max-width: 768px) {
      .portfolio__card-9 {
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 35%), url("assets/portfolio/tablet/image-hypers.jpg"); } }
  .portfolio__card-10 {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 35%), url("assets/portfolio/desktop/image-sxiv.jpg");
    background-repeat: no-repeat;
    background-size: cover; }
    @media only screen and (max-width: 768px) {
      .portfolio__card-10 {
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 35%), url("assets/portfolio/tablet/image-sxiv.jpg"); } }
  .portfolio__card-11 {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 35%), url("assets/portfolio/desktop/image-trinity.jpg");
    background-repeat: no-repeat;
    background-size: cover; }
    @media only screen and (max-width: 768px) {
      .portfolio__card-11 {
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 35%), url("assets/portfolio/tablet/image-trinity.jpg"); } }
  .portfolio__card-12 {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 35%), url("assets/portfolio/desktop/image-paramour.jpg");
    background-repeat: no-repeat;
    background-size: cover; }
    @media only screen and (max-width: 768px) {
      .portfolio__card-12 {
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 35%), url("assets/portfolio/tablet/image-paramour.jpg"); } }
