.hidden {
  visibility: hidden; }

.btn {
  cursor: pointer;
  background-color: #1b1d23;
  color: #f0f0f5;
  font-family: "Spartan";
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem 3.6rem;
  font-size: 1.6rem; }
  .btn:hover {
    background-color: #f0f0f5;
    color: #60636c; }
  .btn, .btn:link, .btn:visited {
    border: none; }
  .btn-arrow {
    width: 20px;
    height: 20px;
    filter: invert(100%) sepia(0%) saturate(25%) hue-rotate(70deg) brightness(108%) contrast(108%); }

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

body {
  box-sizing: border-box;
  background-color: white; }

html {
  font-size: 62.5%; }

.nav {
  margin: 0 auto;
  max-width: 1110px;
  width: 82%;
  height: 10rem;
  padding: 2rem 0;
  display: flex;
  align-items: center; }
  .nav__logo {
    margin-right: 5rem; }
  .nav__links {
    display: flex; }
  .nav__link {
    margin: 3rem;
    font-size: 1.5rem;
    font-family: "Spartan";
    color: #7f8490;
    font-weight: bold; }
    .nav__link, .nav__link:visited, .nav__link:link {
      text-decoration: none; }

.home {
  position: relative;
  width: 91%;
  max-width: 1400px;
  margin: 0 auto; }
  .home__link {
    position: absolute;
    top: 14rem;
    font-family: "Spartan";
    writing-mode: vertical-lr;
    color: #c9cdd9;
    font-size: 1.5rem;
    letter-spacing: 1.7rem; }
    .home__link, .home__link:visited, .home__link:link {
      text-decoration: none; }
    .home__link::before {
      content: "";
      position: absolute;
      top: -139px;
      left: 12;
      height: 104px;
      width: 1px;
      background-color: #c9cdd9; }

.footer {
  margin: 0 auto;
  max-width: 1110px;
  width: 82%; }

.slider {
  margin: 0 auto;
  max-width: 1110px;
  width: 82%;
  position: relative; }
  .slider__cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr, 200px;
    grid-column-gap: 0px;
    grid-row-gap: 0px; }
  .slider__content {
    transition: all 0.2s;
    grid-area: 1 / 1 / 2 / 2; }
  .slider__img {
    width: 100%; }
  .slider__title {
    position: absolute;
    left: 16%;
    top: 23%;
    line-height: 8rem;
    font-size: 8rem;
    color: white;
    font-family: "Spartan"; }
  .slider__info {
    position: absolute;
    left: 16%;
    line-height: 2.5rem;
    width: 38%;
    top: 46%;
    font-size: 1.5rem;
    color: white;
    font-family: "Spartan"; }
  .slider__btn {
    position: absolute;
    left: 16%;
    top: 62%; }
  .slider__btn-text {
    font-weight: 700;
    margin-right: 20px; }
  .slider__btn-arrow {
    margin-left: 22px; }
  .slider__num {
    background-color: white;
    color: #7f8490; }
    .slider__num:focus {
      outline: none;
      border: none;
      color: #f0f0f5;
      background-color: #1b1d23; }
  .slider__nav {
    display: flex;
    position: absolute;
    bottom: 0;
    left: -81px; }

.hide {
  opacity: 0; }

.open {
  opacity: 1; }

.welcome {
  margin: 0 auto;
  max-width: 1110px;
  width: 82%;
  margin-top: 5rem;
  margin-bottom: 8rem;
  position: relative;
  font-family: "Spartan"; }
  .welcome__title {
    font-size: 20rem;
    color: #f0f0f5;
    font-weight: 700; }
  .welcome__text {
    width: 40%;
    margin-left: 18%;
    margin-top: -39px; }
  .welcome__sub-title {
    font-size: 5rem;
    margin-bottom: 4rem;
    width: 86%;
    color: #1b1d23; }
  .welcome__bio {
    font-size: 1.5rem;
    color: #60636c;
    line-height: 2.3rem; }
  .welcome__img {
    position: absolute;
    z-index: -2;
    right: 0;
    top: 12rem;
    width: 324px; }

.about {
  margin: 0 auto;
  max-width: 1110px;
  width: 82%; }
  .about__card {
    position: relative;
    height: 58rem; }
  .about__img {
    position: absolute;
    width: 100%;
    z-index: -2;
    filter: brightness(0.5); }
  .about__text {
    position: absolute;
    display: inline-block;
    font-family: 'Spartan';
    font-weight: 700;
    color: #f0f0f5;
    font-size: 5.4rem;
    line-height: 5rem;
    width: 36rem;
    margin-top: 16%;
    margin-left: 17%; }
  .about__btn {
    position: absolute;
    margin-top: 29%;
    margin-left: 17%;
    width: 19rem; }
  .about__btn-arrow {
    margin-left: 18px; }

.featured {
  margin: 0 auto;
  max-width: 1110px;
  width: 82%;
  margin-top: 30rem; }
