.contact {
  @include container;

  &__map {
    width: 100%;
  }
}

////////////////// Tell-us /////////////////

.tell-us {
  position: relative;
  width: 100%;
  height: 70rem;
  margin-bottom: 20rem;

  @include respond(laptop) {
    height: 87vw;
  }

  @include respond(tab) {
    height: 96vw;
  }

  &__title {
    z-index: 2;
    position: absolute;
    right: 0;
    top: 97px;

    @include respond(laptop) {
      top: 32vw;
    }
  }

  &__img {
    filter: brightness(0.7);
    z-index: -2;

    position: absolute;
    left: 0;
    top: 0;
    width: 61rem;

    @include respond(laptop) {
      width: 100%;
    }
  }

  &__content {
    position: absolute;
    right: -2px;
    bottom: -2px;

    width: 64rem;
    height: 48rem;

    display: grid;
    align-items: flex-end;
    justify-items: flex-end;
    background-color: white;
    &-wrapper {
      width: 70%;
    }

    @include respond(laptop) {
      width: 69vw;
      height: 45vw;
    }
    @include respond(tab) {
      height: 54vw;
    }
  }
}

////////////////// Details /////////////////

.details {
  display: flex;
  margin-bottom: 20rem;

  @include respond(laptop) {
    flex-direction: column;
  }

  &__title {
    width: 20%;
    margin-right: 10rem;

    @include respond(laptop) {
      margin-bottom: 7rem;
      width: 100%;
    }
  }

  &__lists {
    display: flex;

    @include respond(tab) {
      flex-direction: column;
    }
  }

  &__list {
    position: relative;
    padding: 0 5rem;

    @include respond(tab) {
      padding: 5rem 0;
    }
  }

  &__item {
    padding: 0.6rem;

    &-title {
      margin-bottom: 2rem;
      font-weight: 700;
      font-size: 1.5rem;
      font-family: "Spartan";
      color: $medium-gray;
    }

    &-cta {
      display: flex;
      align-items: center;
      margin-top: 2rem;
      font-weight: 700;
      font-size: 1.5rem;
      font-family: "Spartan";
      color: $very-dark-blue;

      @include respond(tab) {
        position: absolute;
        right: 0;
        top: 53px;
      }

      @include respond(phone) {
        position: relative;
        top: 0;
      }
    }
  }

  &__arrow {
    filter: none;
  }
}

////////////////// Form /////////////////

.form {
  position: relative;
  display: flex;
  margin-top: 10rem;

  @include respond(tab) {
    flex-direction: column;
  }

  &__items {
    width: 100%;
    margin-left: 10%;
    display: flex;
    flex-direction: column;

    @include respond(tab) {
      margin-left: 0;
    }
  }

  &__item {
    position: relative;
  }

  &__input {
    width: 100%;

    font-family: "Spartan";
    padding-left: 2rem;
    font-size: 1.7rem;
    font-weight: 700;
    height: 8rem;
    border: none;
    border-bottom: 2px solid $very-light-gray;
    // margin: 5rem 0;

    &::placeholder {
      margin-bottom: 2rem;
      font-family: "Spartan";
      color: $light-gray;
      font-size: 1.7rem;
    }

    &:focus,
    &:active {
      border: none;
      outline: none;
      border-bottom: 2px solid black;
    }
  }

  &__btn {
    width: 33px;
    position: absolute;
    right: 0;
    bottom: -75px;
  }

  &__arrow {
    margin-left: 0;
  }
}

.form__invalid {
  border: none;
  outline: none;
  border-bottom: 2px solid $error-red;
}

.form__item--invalid::after {
  content: "Can't be empty";
  position: absolute;
  right: 10px;
  bottom: 15px;
  color: $error-red;
  font-family: "Spartan";
  font-weight: 700;
  font-size: 1.3rem;
}

.form__empty {
  position: absolute;
  right: 10px;
  bottom: 15px;
  color: $error-red;
  font-family: "Spartan";
  font-weight: 700;
  font-size: 1.3rem;
  opacity: 0;
}
