.slider {
  @include container;
  position: relative;

  &__cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: (1fr, 200px);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  &__content {
    transition: all 0.2s;
    grid-area: 1 / 1 / 2 / 2;
  }

  &__img {
    width: 100%;
  }

  &__title {
    position: absolute;
    left: 16%;
    top: 23%;
    line-height: 8rem;
    font-size: 8rem;
    color: white;
    font-family: "Spartan";
  }

  &__info {
    position: absolute;
    left: 16%;
    line-height: 2.5rem;
    width: 38%;
    top: 46%;
    font-size: 1.5rem;
    color: white;
    font-family: "Spartan";
  }

  &__btn {
    position: absolute;
    left: 16%;
    top: 62%;
  }

  &__btn-text {
    font-weight: 700;
    margin-right: 20px;
  }

  &__btn-arrow {
    width: 20px;
    height: 20px;

    filter: invert(100%) sepia(0%) saturate(25%) hue-rotate(70deg)
      brightness(108%) contrast(108%);
  }

  &__num {
    background-color: white;
    color: $medium-gray;

    &:focus {
      outline: none;
      border: none;
      color: $very-ligh-gray;
      background-color: $very-dark-blue;
    }
  }

  &__nav {
    display: flex;
    position: absolute;
    bottom: 0;
    left: -81px;
  }
}

.hide {
  opacity: 0;

}

.open {
  opacity: 1;
}

.welcome {
  @include container;

  margin-top: 8rem;
}

.about {
  @include container;
}

.featured {
  @include container;
}
