<%- include('../partials/header.ejs'); -%>
<%- include('../partials/nav.ejs'); -%>


<div class="about" >

  <div class="team">

    <h1 class="team__title h1-l" data-aos="fade-right">About</h1>
    <img class="team__img" src="assets/about/desktop/image-hero.jpg" alt="photo computer" data-aos="fade-left">

    <div class="team__content" data-aos="fade-right">
      <div class="team__content-wrapper">
        <h2 class="team__sub-title h2">Your team of professionals</h2>
        <p class="team__info body-font">Our small team of world-class professionals will work with you every step of the
          way.
          Strong relationships are at the core of everything we do. This extends to the
          relationship our projects have with their surroundings.</p>
      </div>
    </div>

  </div>


  <div class="heritage">

    <div class="heritage__content">
      <h2 class="heritage__title h2" data-aos="fade-right">Our Heritage</h2>

      <p class="heritage__info body-font" data-aos="fade-right" data-aos-offset="300">Founded in 2007, we started as a trio of architects. Our complimentary skills
        and
        relentless attention to detail turned Arch into one of the most sought after boutique
        firms in the country. <br> <br>

        Speciliazing in Urban Design allowed us to focus on creating exceptional structures that
        live in harmony with their surroundings. We consider every detail from every surrounding
        element to inform our designs.<br> <br>

        Our small team of world-class professionals provides input on every project.
      </p>
    </div>

    <img class="heritage__img" src="assets/about/desktop/image-heritage.jpg" alt="photo computer" data-aos="fade-left">


  </div>

  <div class="leaders">

    <h2 class="leaders__title h2" data-aos="fade-right">The Leaders</h2>

    <div class="leaders__cards">
      <div class="leaders__card" data-aos="fade-left">
        <img src="assets/about/desktop/avatar-jake.jpg" alt="photo jake">
        <p class="h3 leaders__card-title">Jake Richards</p>
        <p class="body-font">Chief Architect</p>
      </div>


      <div class="leaders__card" data-aos="fade-left">
        <img src="assets/about/desktop/avatar-thompson.jpg" alt="photo thompson">
        <p class="h3 leaders__card-title">Thompson Smith</p>
        <p class="body-font">Head of Finance</p>
      </div>

      <div class="leaders__card" data-aos="fade-left">
        <img src="assets/about/desktop/avatar-jackson.jpg" alt="photo jackson">
        <p class="h3 leaders__card-title">Jackson Rourke</p>
        <p class="body-font">Lead Designer</p>
      </div>

      <div class="leaders__card" data-aos="fade-left">
        <img src="assets/about/desktop/avatar-maria.jpg" alt="photo maria">
        <p class="h3 leaders__card-title">Maria Simpson</p>
        <p class="body-font">Senior Architect</p>
      </div>
    </div>


  </div>

</div>


<%- include('../partials/footer.ejs'); -%>