<%- include('../partials/header.ejs'); -%>
<%- include('../partials/nav.ejs'); -%>



<div class="slider">

    <div class="slider__cards">

        <div class="slider__content" id="slide-1">
            <h1 class="slider__title">Project <br> Paramour</h1>
            <img src="assets/home/desktop/image-hero-paramour.jpg" alt="photo federal" class="slider__img">
            <p class="slider__info">
                Project made for an art museum near Southwest London. Project Paramour is
                a statement of bold, modern architecture.
            </p>
            <button class="slider__btn btn">
                <p class="slider__btn-text">See Our Portfolio</p> <img class="btn-arrow"
                    src="assets/icons/icon-arrow.svg" alt="" srcset="">
            </button>
        </div>


        <div class="slider__content hide" id="slide-2">
            <h1 class="slider__title">Seraph <br> Station</h1>
            <img src="assets/home/desktop/image-hero-seraph.jpg" alt="photo federal" class="slider__img">
            <p class="slider__info">
                The Seraph Station project challenged us to design a unique station that would
                transport people through time. The result is a fresh and futuristic model
                inspired by space stations.
            </p>
            <button class="slider__btn btn">
                <p class="slider__btn-text">See Our Portfolio</p>
                <img class="btn-arrow" src="assets/icons/icon-arrow.svg" alt="" srcset="">
            </button>
        </div>


        <div class="slider__content hide" id="slide-3">
            <h1 class="slider__title">Federal II <br> Tower</h1>
            <img src="assets/home/desktop/image-hero-federal.jpg" alt="photo federal" class="slider__img">
            <p class="slider__info">
                A sequel theme project for a tower originally built in the 1800s. We achieved
                this with a striking look of brutal minimalism with modern touches.
            </p>
            <button class="slider__btn btn">
                <p class="slider__btn-text">See Our Portfolio</p>
                <img class="btn-arrow" src="assets/icons/icon-arrow.svg" alt="" srcset="">
            </button>
        </div>


        <div class="slider__content hide" id="slide-4">
            <h1 class="slider__title">Trinity Bank <br> Tower</h1>

            <img src="assets/home/desktop/image-hero-trinity.jpg" alt="photo federal" class="slider__img">
            <p class="slider__info">
                Trinity Bank challenged us to make a concept for a 84 story building located
                in the middle of a city with a high earthquake frequency. For this project we
                used curves to blend design and stability to meet our objectives.
            </p>
            <button class="slider__btn btn">
                <p class="slider__btn-text">See Our Portfolio</p>
                <img class="btn-arrow" src="assets/icons/icon-arrow.svg" alt="" srcset="">
            </button>
        </div>



        <div class="slider__nav">
            <button id="1" onclick="slide(this.id)" class="btn slider__num" autofocus>1</button>
            <button id="2" onclick="slide(this.id)" class="btn slider__num">2</button>
            <button id="3" onclick="slide(this.id)" class="btn slider__num">3</button>
            <button id="4" onclick="slide(this.id)" class="btn slider__num">4</button>
        </div>
    </div>


</div>


<div class="welcome">

    <h2 class="welcome__title">Welcome</h2>


    <div class="welcome__text">
        <h3 class="welcome__sub-title">Welcome to Arch Studio</h3>

        <p class="welcome__bio">We have a unique network and skillset to help bring your projects to life. Our
            small team of highly skilled individuals combined with our large network put us
            in a strong position to deliver exceptional results.<br><br>

            Over the past 10 years, we have worked on all kinds of projects. From stations
            to high-rise buildings, we create spaces that inspire and delight.<br><br>

            We work closely with our clients so that we understand the intricacies of each
            project. This allows us to work in harmony the surrounding area to create truly
            stunning projects that will stand the test of time.</p>
    </div>
    <img src="assets/home/desktop/image-welcome.jpg" alt="welcome photo" class="welcome__img">

</div>

<div class="about">

    <div class="about__card">
        <img class="about__img" src="assets/home/desktop/image-small-team.jpg" alt="">
        <p class="about__text">
            Small team, big ideas
        </p>

        <div class="about__btn btn">
            About Us
            <img class="about__btn-arrow btn-arrow" src="assets/icons/icon-arrow.svg" alt="" srcset="">
        </div>
    </div>
    
</div>


<div class="featured">
    
    <div class="featured__header">
        <div class="featured__header-txt">
            Featured
        </div>
        
        <button class="featured__header-btn btn">
            See all
            <img class="featured__btn-arrow btn-arrow" src="assets/icons/icon-arrow.svg" alt="" srcset="">
        </button>
    </div>

    <div class="featured__cards">
        <div class="featured__card featured__card-1">
            <p class="featured__card-num">
                1
            </p>

            <div class="featured__label">
                <p class="featured__label-title">
                    Project Del Sol
                </p>
                <p class="featured__label-txt">
                    View All Projects
                </p>
            </div>
        </div>

        <div class="featured__card featured__card-2">
            <p class="featured__card-num">
                2
            </p>
            <div class="featured__label">
                <p class="featured__label-title">
                    228B Tower
                </p>
                <p class="featured__label-txt">
                    View All Projects
                </p>
            </div>
        </div>

        <div class="featured__card featured__card-3">
            <p class="featured__card-num">
                3
            </p>
            <div class="featured__label">
                <p class="featured__label-title">
                    Le Prototype
                </p>
                <p class="featured__label-txt">
                    View All Projects
                </p>
            </div>
        </div>
    </div>
</div>

<%- include('../partials/footer.ejs'); -%>