<%- include('../partials/header.ejs'); -%>
<%- include('../partials/nav.ejs'); -%>

<div class="portfolio">


  <div class="card portfolio__card-1">
    <div class="card__label">
      <p class="card__label-title">
        Seraph Station
      </p>
      <p class="card__label-txt">
        September 2019
      </p>
    </div>
  </div>


  <div class="card portfolio__card-2">
    <div class="card__label">
      <p class="card__label-title">
        Eebox Building
      </p>
      <p class="card__label-txt">
        August 2017
      </p>
    </div>
  </div>

  <div class="card portfolio__card-3">
    <div class="card__label">
      <p class="card__label-title">
        Federal II Tower
      </p>
      <p class="card__label-txt">
        March 2017
      </p>
    </div>
  </div>

  <div class="card portfolio__card-4">
    <div class="card__label">
      <p class="card__label-title">
        Project Del Sol
      </p>
      <p class="card__label-txt">
        January 2016
      </p>
    </div>
  </div>

  <div class="card portfolio__card-5">
    <div class="card__label">
      <p class="card__label-title">
        Le Prototype
      </p>
      <p class="card__label-txt">
        October 2015
      </p>
    </div>
  </div>

  <div class="card portfolio__card-6">
    <div class="card__label">
      <p class="card__label-title">
        228B Tower
      </p>
      <p class="card__label-txt">
        April 2015
      </p>
    </div>
  </div>

  <div class="card portfolio__card-7">
    <div class="card__label">
      <p class="card__label-title">
        Grand Edelweiss Hotel
      </p>
      <p class="card__label-txt">
        December 2013
      </p>
    </div>
  </div>

  <div class="card portfolio__card-8">
    <div class="card__label">
      <p class="card__label-title">
        Netcry Tower
      </p>
      <p class="card__label-txt">
        August 2012
      </p>
    </div>
  </div>

  <div class="card portfolio__card-9">
    <div class="card__label">
      <p class="card__label-title">
        Hypers
      </p>
      <p class="card__label-txt">
        January 2012
      </p>
    </div>
  </div>

  <div class="card portfolio__card-10">
    <div class="card__label">
      <p class="card__label-title">
        SXIV Tower
      </p>
      <p class="card__label-txt">
        March 2011
      </p>
    </div>
  </div>

  <div class="card portfolio__card-11">
    <div class="card__label">
      <p class="card__label-title">
        Trinity Bank Tower
      </p>
      <p class="card__label-txt">
        September 2010
      </p>
    </div>
  </div>

  <div class="card portfolio__card-12">
    <div class="card__label">
      <p class="card__label-title">
        Project Paramour
      </p>
      <p class="card__label-txt">
        February 2008
      </p>
    </div>
  </div>


</div>


<%- include('../partials/footer.ejs'); -%>